@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header-shipping {
  background-color: #2e294e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  box-shadow: 2px 1px 10px #484848;
}
