.Header {
}

.Header #road{
    position: relative;
    z-index: -1;
    width: 100vw;
}

.Header #navbar{
    position: relative;
    bottom: 55vh;
    background-color: #2E294E;
    width: 100vw;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.Header a {
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    height: 78px;
}

.Header .options{
    display: flex;
    width: 70vw;
    height: 78px;
    justify-content: space-between;
}
